@import "tailwindcss";
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    color: white;
    border: white;
  }
}
@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fade-in 1s ease-in-out;
  }
  .fade-out {
    animation: fade-out 1s ease-in-out;
  }
}
